#wrap {
    min-width: 250px;
    width: 100%;
}
.content{
    width: auto;
    max-width: 768px;
    
    
}
body{
    font-family:Dotum,'돋음', Helvetica, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    margin: 0 auto;
    max-width: 768px;
    min-width: 460px;
    box-sizing: border-box;
}
input{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
#join-form{
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
#header{
    padding-top: 59px;
    position: relative;
    overflow: hidden;
    padding: 60px 0 54px;
    max-width: 768px;
    margin: 0 15px;
    min-width: 220px;
    box-sizing: border-box;
}
.join-memebership{
    padding-bottom: 20px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1{
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}
h3{
    padding: 0;
    -webkit-text-size-adjust: none;
}
.h-logo{
   display: block;
   margin: 0 auto;
   width: 240px;
   height: 44px;
   background-image: url(https://static.nid.naver.com/images/ui/join/m_naver_logo_20191126.png);
   background-repeat: no-repeat;
   background-position: 0 0;
   background-size: 240px auto;
   color: transparent;
   font-size: 0;
}
.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
.join-title{
    margin:  19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}
.ps-box{
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 110px 10px 14px;
    background: #FFF;
    box-sizing: border-box;
    vertical-align: top;
}
.ps-box .int-id input{
    background-color: #FFF;
    outline: 0;
}
.int{
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    padding-right: 25px;
    line-height: 29px;
    border: none;
    background: #FFF;
    font-size: 15px;
    box-sizing: border-box;
    z-index: 10;
}
.step-url{
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}
.ps-box.int-pass::after{
    background-position: 0 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-size: 125px 75px;
    cursor: pointer;
}
.ps-box.int-pass {
    padding-right: 40px;
}
.wa-blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
    font-size: 0;
}
.lbl{
    display: block;
    position: absolute;
    top: 50%;
    left: 14px;
    margin-top: -9px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
    z-index: 9;
}
.ps-box.int-pass-check{
    padding-right: 40px;
}
.ps-box.int-pass-check::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 13px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-image: url(https://static.nid.naver.com/images/ui/join/m_icon_pw_step.png);
    background-repeat: no-repeat;
    background-position: -27px 0;
    background-size: 125px 75px;
    cursor: pointer;
}
.bir-wrap{
    display: table;
    width: 100%;
}
.bir-yy{
    display: table-cell;
    table-layout: fixed;
    width: 147px;
    vertical-align: middle;
}
.bir-mm{
    display: table-cell;
    table-layout: ifxed;
    width: 147px;
    vertical-align: middle;
}
.bir-dd{
    display: table-cell;
    table-layout: fixed;
    width: 147px;
    vertical-align: middle;
}
.bir-yy+.bir-mm{
    padding-left: 10px;
}
.bir-mm+.bir-dd{
    padding-left: 10px;
}
.sel{
    width: 100%;
    height: 29px;
    font-size: 15px;
    line-height: 18px;
    color: #000;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
}
:root .sel{
    background:#fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
}
.join-birthday .ps-box{
    padding: 11px 14px;
}

